button{
    background-color: #6278F7;
    border: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    color: #95FFD4;
}